body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #68c3a3;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.wrapper {
  width: 30%;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

button {
  border: none;
  padding: 20px 35px;
  background-color: #1e824c;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
  margin-top: 50px;
}